body {
    width: 100%;
    /* max-height: 500px; */
    font-size: 14px;
    overflow-y: auto;
}
body.minimized {
    width: 350px;
    height: 30px;
    overflow: hidden;
}
.hide-on-minimized {
    transition: opacity 0.3s ease;
}

body.minimized .hide-on-minimized {
    display: none !important;
}

#output {
    max-height: 350px;
    overflow-y: auto;
}

.table-compact {
    font-size: 12px; /* kecilkan font */
}
.table-compact td,
.table-compact th {
    padding: 0.25rem 0.5rem; /* kecilkan padding */
}
